@rendermode InteractiveServer
@inject AppState appState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdminApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
						<NavLink class="nav-link" href="/testRuntime">
								<span class="bi bi-play-circle" aria-hidden="true"></span> Test Runtime
						</NavLink>
            @if (!string.IsNullOrWhiteSpace(appState.SQLString))
            {
                <NavLink class="nav-link" href="/sqlresults">
                    <span class="bi bi-table" aria-hidden="true"></span> SQL Results
                </NavLink>
            }
        </div>
    </nav>
</div>
